* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* conteudo */

.box-tamanho {
    width: 1024px;
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1C1938;
    border-radius: 8px;
}

.conteudo-texto {
    width: 50%;
}

.imagem {
    width: 50%;
    height: 100%;
}

.imagem img {
    height: 100%;
    width: 100%;
    border-radius: 0 8px 8px 0;
    filter: opacity(0.4) drop-shadow(0 0 0 #9900ff);
}

.conteudo-largura {
    max-width: 350px;
    margin: 0 auto;
    text-align: left;
}

.titulo {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 3.3rem;
}

.titulo span {
    color: #A960D9;
    font-family: 'Lexend Deca', sans-serif;
}

.color-text {
    color: hsla(0, 0%, 100%, 0.75);
}

.conteudo-p {
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 55px;
    line-height: 25px;
}

.status {
    display: flex;
    justify-content: space-between;
}

.status span {
    font-size: 2.3rem;
    font-weight: 700;
}

.status-text {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.4rem;
}

/* fim conteudo */

@media (max-width:720px) {
    
    main{
        height: auto;
        padding: 25px 0;
    }

    .box-tamanho {
        width: 320px;
        height: auto;
        flex-direction: column;        
    }

    .imagem {
        order: -1;
        width: 100%;
        height: 50%;
        margin-bottom: 35px;        
    }

    .imagem img {
        border-radius: 8px 8px 0 0;
        height: 100%;
    }

    .conteudo-texto {
        flex-direction: column;
        width: 263px;
        height: 50%;
    }

    .conteudo-largura {
        text-align: center;
    }

    .status {
        flex-direction: column;
    }

    .status div {
        margin-bottom: 40px;
    }
}